div{
    background-color : wheat;
    margin-left: 250px;
    margin-right: 250px;
    border-radius: 50px;
}

img{
    display: table-row;
    margin-left: auto;
    margin-right: auto;
}

table{
    border: 3px solid black;
    padding: 15px;
    margin: 50px;
}

.content{
    display:flex ;
    flex-direction: column;
    align-items: center;
}

bolt{
    font-weight: bold;
}

body{
    background-color: lightyellow;
}
